# Yarn https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
node_modules/
.yarn-integrity

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*/.yarn/*

widget-*/dist/*
examples/*/dist
package.tgz
.env
