name: Userback Widgets

on:
  push:
    branches: [ develop, master ]
  pull_request:

jobs:

  # Scan for vulnerable dependencies (npm audit)
  dependency-review:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/dependency-review-action@v2

  # Ensure basic typescript checks and linting passes
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16.x
        cache: yarn
    - run: yarn --immutable
    - run: yarn build
    - run: yarn test
    - run: yarn lint

  # Ensure docs are up to date
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16.x
        cache: yarn
    - run: yarn --immutable
    - run: yarn build
    - run: yarn docs
    - run: git diff --exit-code

  # Ensure the e2e suite completes successfully
  end2end:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      VITE_UB_TOKEN: ${{ vars.UB_TOKEN }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16.x
        cache: yarn
    - uses: docker/setup-buildx-action@v1
    - run: yarn --immutable
    - run: yarn build
    # Docker Cache using a private github container registry
    - uses: docker/build-push-action@v2
      with:
        context: .
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - run: yarn test:docker
#    @TODO: Setup volumes for exporting artifacts
#    - uses: actions/upload-artifact@v3
#      if: always()
#      with:
#        name: playwright-report
#        path: playwright-report/
#        retention-days: 30
